.container{
    padding: 0px 50px;
}
.fc-scroller.fc-day-grid-container{
    height: 72vh !important;
}
.fc-row.fc-week.fc-widget-content{
    height: 12vh !important;
}

.fc-event{
    height: 40px !important;
    span.fc-title{
        color:white !important;
    }
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=button]:hover {
    background-color: #45a049;
  }

  input[type=button]:disabled {
    opacity: 0.5;
  }
  
  div {
    border-radius: 5px;
    padding: 20px;
  }

  .rightSection{
    width: 20vw;
    display: inline-block;
    h2{
        margin-top: 5px;
        font-size: 1.75em;
    }
    .formSection{
        padding-left: 0px;
    }
  }

  .leftSection{
    width: 70vw;
    float: right;
  }