<h2>Flight Search</h2>
<div class="formSection">
  <form>
    <label for="from">Source</label>
    <select id="from" name="from" (change)="UpdateFromPlace($event.target.value)" 
    [ngModel]="originPlaceId">
      <option *ngFor="let place of placeList" (click)="UpdateFromPlace(place)" value="{{place.placeId}}">
        {{place.placeName}}</option>
    </select>

    <label for="to">Destination</label>
    <select id="to" name="to" (change)="UpdateToPlace($event.target.value)" 
    [ngModel]="destinationPlaceId">
      <option *ngFor="let place of placeList" value="{{place.placeId}}">{{place.placeName}}</option>
    </select>
    <input type="button" [disabled]="originPlaceId==destinationPlaceId" value="Search"
      (click)="SearchFlightFares()">
    <span *ngIf="originPlaceId==destinationPlaceId" style="color: red;">From and To location cann't be
      same.</span>
  </form>
</div>
